* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.full-page-with-form {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    /* margin: 2px 10px; */

}



.content-page {

    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    /* margin: auto;
    position: relative; */
    display: flex;
    flex-direction: column;
}


.main-product-container {
    border: 5px solid blue;
    display: flex;

    border: 2px solid #d6d6d6;
    background-color: #ffffff;
    border-radius: 4px;






}

/* CSS for product image start here*/
.image-container {
    /* border: 5px solid green; */

}

.product-image {
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    width: 300px;
    height: 300px;
    margin: 30px 10px 0px 0px
}

/* CSS for product image end here*/


.product-name {
    color: #011b52;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 8px;
}

.short-line-desc {
    color: #011b52;
    padding: 0px 0px 0px 8px;
}

.short-desc-box1,
.short-desc-box2 {
    border: 2px solid #d6d6d6;
    box-shadow: 5px 7px #555;
    border-radius: 4px;
    background-image: linear-gradient(to right, #fdf5ff, #f6f8ff);
    margin: 5px 5px;
}


.short-desc-box-heading {
    padding: 3px 0px 0px 10px;
}

.short-desc-box-line {
    font-weight: normal;
    padding: 0px 0px 0px 10px;
}

/* short description box container */
.box-desc-container {
    display: flex;
}


.discount-description {
    background-color: #02a664;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    margin: 13px 0px 13px 0px;

}

.discounted-price {
    text-decoration: line-through;

}

.add-to-basket-btn {
    background-color: #022268;
    color: #fff;
    margin: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    width: 255px;
    height: 45px;
    font-size: 18px;
}

.add-to-basket-btn:hover {
    background-color: #4169e1;
    cursor: pointer;
}



/* CSS for fixed side form  */

.side-form-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid orangered; */
    position: fixed;
    top: 10vh;
    left: 80vw;
    cursor: pointer;





}

.side-form-heading {
    background-color: #262626;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .27);
    font-size: 16px;
    padding: 13px 14px;
    font-family: "Poppins", "Sans-serif";
    border-radius: 50px;
    margin: 10px 10px 20px 10px;


}

.side-main-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #b9b9b9;
    border-radius: 6px;
    padding: 8px 0px 0px 0px;

}

.side-form-bottom-button {
    background-color: #10c876;
    color: #fff;
    border: 0px;
    border-radius: 0px 0px 6px 6px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    margin: 9px 0px 0px 0px;
}

.side-form-input {
    padding: 8px 0px 8px 9px;
    margin: 6px 10px 2px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 6px;
}

/* CSS for product description start here */

.product-desc-main-container {
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 15px 0px 0px 0px;

}

.long-product-desc {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #e7e7e7;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;


}



.product-desc-heading {
    color: #4472c4;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.product-desc-para {
    color: #000;
    font-family: "Poppins", Sans-serif;


}

.faq-para {
    padding: 13px;
}

/* CSS for all tables */

.desc-table {
    border-collapse: collapse;
    border: 1px solid #000;
}

.th,
td {
    border: 1px solid #000;
    padding: 13px;
}